<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap-icons/css/bootstrap-icons.min.css' %}">
<html lang="ru" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <title>ControlBox</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
  </head>
  <body>
    {% include "includes/header.html" %}
    <div class="container pt-5">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html> 